*,
*::after,
*::before {
    box-sizing: border-box;
}
@font-face {
    font-family: 'balqis'; src: url('balqis.woff2') format('woff2'),
    url('balqis.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed-Light'; src: url('RobotoCondensed-Light.woff2') format('woff2'),
    url('RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed-LightItalic'; src: url('RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoCondensed-Regular'; src: url('RobotoCondensed-Regular.woff2') format('woff2'),
    url('RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    color: #000;
    font-family:'RobotoCondensed-Light';
    font-size: 18px;
    line-height: 21px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.page-section {
    margin: 200px auto;
    max-width: 1920px;
}
.title {
    font-size: 96px;
    line-height: 128px;
    color: #e2ab3f;
    font-family: 'balqis';
    font-weight: 300;
    margin-bottom: 100px;
}
.title span {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-family: 'RobotoCondensed-LightItalic';
    display: block;
    margin-top: -30px;
    
}
.header {
    background-image: url(Rectangle\ 43.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.header__top {
    display: flex;
    justify-content:space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: 'RobotoCondensed-Regular';
}
.menu__list-item {
    display:inline-block;
}
.menu__list-item + .menu__list-item {
    margin-left: 52px;
}
.menu__list-link:hover {
    text-decoration: underline;
}
.header__phone {
    padding-left: 40px;
    position: relative;
}
.header__phone::before  {
    content: "";
    position: absolute;
    background-image: url(Vector.svg);
    width: 30px;
    height: 30px;
    left: 0;
}
.header__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: 'balqis';
    font-weight: 300;
}
.header__title span {
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-family: 'RobotoCondensed-LightItalic';
    margin-top: -66px;
    margin-right: 85px;
}
.fairy-tail__slider {
    width: 50%;
}
.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.fairy-tail__inner {
    position: relative;
}
.fairy-tail__container,
.our-trip__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fairy-tail__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}
.fairy-tail__text {
    padding: 10px 0;
}
.fairy-tail__title span {
    margin-left: 185px;
}
.our-trip__slider {
    width: 50%;
    margin-left: auto;
}
.our-trip__inner {
    position: relative;
}
.our-trip__title span {
    margin-left: 240px;
}
.our-trip__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
}
.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}
.our-trip__list li:first-child {
    margin-bottom: 20px;
    font-family: 'RobotoCondensed-Regular';
}
.our-trip__btn {
    font-family:'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #e2ab3f;
    padding: 11px 53px;
}
.our-trip__content {
    width: 50%;
    padding-right: 55px;
}
.hotel__title span {
    margin-left: 120px;
}
.hotel__inner {
    display: flex;
}
.hotel__images {
    margin-right: 100px;
}
.hotel__text {
    margin-bottom: 20px;
}
.hotel__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hotel__gallery a {
    margin-top: 50px;
}
.price__inner {
    display: flex;
}
.price__on-title,
.price__off-title {
    line-height: 28px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: 'RobotoCondensed-Regular';
}
.price__on {
    margin-right: 70px;
    width: 530px;
}
.price__list-item {
    margin-bottom: 20px;
}
.price {
    background-image: url(Group\ 1.png);
    background-repeat: no-repeat;
    background-position: center right 20%; /*20%*/
}
.contacts__inner {
    display: flex;
    justify-content: space-between;
}
.contacts__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contacts__data,
.contacts__price {
    font-family: 'balqis';
    font-size: 96px;
    color: #e2ab3f;
    line-height: 100px;
    font-weight: 300;
}
.contacts__data {
    margin-bottom: 20px;
}
.contacts__price {
    margin-left: 120px;
}
.contacts__data span,
.contacts__price span {
    font-family: 'RobotoCondensed-LightItalic';
    display: block;
    line-height: 28px;
    font-size: 24px;
    color: #000;
    margin-top: -10px;
    margin-left: 205px;
}
.contacts__form {
    max-width: 383px;
    margin: 0 auto;
}
.contacts__form-title {
    font-family: 'RobotoCondensed-Regular';
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
}
.contacts__form-input {
    font-family:'RobotoCondensed-Light';
    border: 1px solid #e2ab3f;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 300;
}
.contacts__form-input::placeholder {
    color: #000;
}
.contacts__form-btn {
    font-family:'RobotoCondensed-Light';
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    border: 1px solid #e2ab3f;
    background-color: transparent;
    padding: 11px 45px;
    cursor: pointer;
}
.footer {
    background-image: url(Rectangle\ 43.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 96px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text {
    font-family: 'balqis';
    font-size: 86px;
    line-height: 115px;
}
.footer__contacts {
    width: 356px;
    height: 527px;
    background-image: url(kisspng-flight-hot-air-balloon-computer-icons-aerostat-5afe08ad4b2f92\ 2.png);
    background-repeat:no-repeat;
    text-align: center;
    background-size: cover;
}
.footer__contacts-title {
    font-family: 'balqis';
    font-size: 86px;
    line-height: 115px;
    color: #e2ab3f;
    margin-bottom: 50px;
    padding-top: 50px;
}
.footer__phone,
.footer__email {
    display: inline-block;
    padding-left: 40px;
    position: relative;
}
.footer__phone::before,
.footer__email::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
}
.footer__phone::before {
    background-image: url(Group.svg);
}
.footer__email::before {
    background-image: url(mail\ 1.svg);
}
.footer__phone {
    margin-bottom: 20px;
}
.footer__social {
    margin-top: 38px;
}
.footer__social a {
    margin: 0 7px;
}
@media (max-width: 1240px) {
    .header__title {
        padding-top: 120px;
        font-size: 180px;
        line-height: 220px;
    }
    .header__title span {
        font-size: 50px;
        margin-top: -50px;
    }
}
@media (max-width: 991px) {
    .page-section {
        margin: 100px 0;
    }
    .fairy-tail__container,
    .our-trip__container {
        position: static;
    }
    .fairy-tail__slider {
        width: 100%;
    }
    .fairy-tail__body {
        width: 100%;
        padding-left: 0;
    }
}
@media (max-width: 840px) {
    .header__title {
        padding-top: 100px;
        font-size: 120px;
        line-height: 150px;
    }
    .header__title span {
        font-size: 30px;
        margin-top: -44px;
    }
    .header__top {
        font-size: 20px;
        line-height: 24px;
    }
    .header__phone::before {
        width: 25px;
        height: 25px;
        background-size: cover;
    }
}
@media (max-width: 600px) {
    .header__top {
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
        text-align: center;
        margin: 0 0 25px;
    }
    .header__title {
        font-size: 80px;
        line-height: 120px;
    }
    .header__title span {
        font-size: 22px;
        margin-top: -46px;
        margin-right: 15px;
    }
    
    .fairy-tail__item img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    .page-section {
        margin: 50px 0;
    }
    .title {
        margin-bottom: 25px;
        font-size: 60px;
        line-height: 110px;
    }
    .fairy-tail__title span {
        margin-left: 110px;
    }
}
@media (max-width: 370px) {
    .header__title {
        font-size: 60px;
        line-height: 100px;
    }
    .header__title span {
        font-size: 18px;
        margin-right: 0;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 18px;
    }
    .title {
        font-size: 50px;
    }
    .title span {
        font-size: 20px;
    }
    .fairy-tail__title span {
        margin-left: 90px;
    }
}